<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Le Comte de Monte Cristo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <style>
        .show{
            border:2px solid green;
        }
        .boygirl{
            height:200px;
        }
        .blow{
            border:2px solid blue;
        }
    </style>
    <div class="container-fluid px-0 mx-0 h-100 w-100">
        <div class="row px-0 mx-0 my-0 py-0 align-items-center">
            <div class="col px-0 mx-0 my-0 py-0 vh-100 show justify-content-center ">
                
                 <div class="smallest blow my-auto">
                    <div class="row  px-0 mx-0 my-0 w-100 d-flex">
                        <img class="boygirl mx-auto" src="assets/tiny/buygirl.png" alt="">
                    </div>
                    <div class="row  px-0 mx-0 my-0 w-100 d-flex">
                        <img class="boygirl mx-auto" src="assets/tiny/buyguy.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="smallest">
            <div class="row show px-0 mx-0 my-0 w-100 d-flex">
                <img class="boygirl mx-auto" src="assets/tiny/buygirl.png" alt="">
            </div>
            <div class="row show px-0 mx-0 my-0 w-100 d-flex">
                <img class="boygirl mx-auto" src="assets/tiny/buyguy.png" alt="">
            </div>
        </div> -->
        
    </div>
   
</body>
</html>