<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Fr Pronunciation Hacker</title>
    <meta name="description" content="Fr Pronunciation Hacker">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="rcU2suQIGFO-3QKC5uYkmavSYxOZmo499VPCPTd4IPo" />


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="assets/css/perfect-scrollbar.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">


    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css"
    />
<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
<noscript>
    <style>
      /**
      * Reinstate scrolling for non-JS clients
      */
      .simplebar-content-wrapper {
        overflow: auto;
      }
    </style>
  </noscript>

    <link rel="stylesheet" href="assets/css/tooltip.css">


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.2/plyr.css" integrity="sha512-jrLDXl9jUPe5DT19ukacvpX39XiErIBZxiaVMDFRe+OAKoBVYO126Dt7cvhMJ3Fja963lboD9DH+ev/2vbEnMw==" crossorigin="anonymous" />
    
</head>

<body>

    <!-- <nav class="navbar navbar-light">
        <a class="navbar-brand mx-auto" href="#">
            <img src="assets/logo.png" height="90px" alt="" style="max-width:100%;object-fit:scale-down">
        </a>
    </nav> -->

    <div class="container-fluid h-100 w-100"> 

        <!-- Title and Logo -->
        <div class="row justify-content-end flow"> 
            <h5 class="pr-2 mobiletitle mobile"> French Pronunciation Hacker</h5>
            <img class="mr-2 logo desktop" src="assets/tiny/logo2.png" >
        </div>
        
        <div class="row show">
            <h3 class="booktitle">Le Comte de Monte Cristo</h3>
        </div>
        <div class="row show">
            <div class="col-2"></div>
            <div class="col show desktop">
                 <audio id="player" controls>
                    <source src="assets/audio/book.mp3" type="audio/mp3" />
                </audio>
            </div>
            <div class="col-2"></div>
            
        </div>

        <div class="row top show">

            <div class="col-2 mt-auto desktop">
                <img class="mytooltip desktop" width="100%" src="assets/tiny/tooltip-left.png" alt="">
            </div>
            <div class="col flow">
                <div id="move" class="pt-5 pb-4 movemobile">

                    <div data-simplebar class="story_holder" style="border:1px solid transparent;">

                        <!-- <h1 class="book-title text-center">Le Comte de Monte-Cristo</h1>
                        <br>
                        <div id='chapter_title'></div>
                        <br><br><br> -->
                        
                        <h3>
                            <p id="story"></p>
                        </h3>
                    </div>
                    

                </div>
            </div>
            <div class="col-2 mt-auto desktop">

                <!-- skipped words displaybox -->
                <!-- <div class="row">
                        <div data-simplebar class="skippedwords mx-auto">
                            <ul id="skippedwordslist">
                                <h5 style="font-size:15px">Skipped words:</h5>
                                
    
                            </ul>
                        </div>
                    
                </div> -->
                <img class="mytooltip desktop" width="100%" src="assets/tiny/tooltip-right.png" alt="">
                    
            </div>

        </div>

        <!-- Bottom part for desktop -->
        <div class="row bottom flow desktop">
            <div class="col-2 show ">
                <div class="row microw justify-content-center">

                    <div class="circle">
                        <img class="mx-auto d-block mic" height="50%"src="assets/tiny/mic.png" alt="">
                    </div>
                    
                    <button id="startRecButton" type="button" style="display:none"> Start recording</button>
                    <button id="stopRecButton" type="button" style="display:none"> Stop recording</button>
                    <div id="recordingStatus" style="display:none"></div>
                </div>
                
                
            </div>
            <div class="col flow">
                
                <div class="form-group pt-4" >
                    
                    <div class="result_holder">
                       
                        
    
                        <div class="ResultText">
                            
                            
                            <span class="greyText">
                            </span>
                        
                        </div>
                        
                        
                        
                    </div>
                    <div class="row">
                        <button class="mx-auto skipword">Skip Word</button>

                    </div>
                    <!-- <div class="result_holder" style="background-color:#90dcd9">
                        <div id="mytranscript"></div>
                    </div> -->
                </div>
            </div>
            <div class="col-2 h-100">
                <!-- <button id="skipword">Skip</button> -->
                <div class="row microw justify-content-center flow">
                    <img id="leftrewind" src="assets/tiny/left-rewind.png" height="25px" alt="">
                    <div id="playbutton">
                        <img class="mx-auto pl-2 d-block play_arrow" height="45%" src="assets/tiny/play_arrow.png" alt="">
                        <img class="mx-auto pl-2 d-block pause" height="50%" src="assets/tiny/pause.png" alt="">
                    </div>
                    <img id="rightrewind" src="assets/tiny/right-rewind.png" height="25px" alt="">

                
                </div>
                
                
            </div>
        </div>

        <!-- Skip word for mobile -->
        <div class="row pb-1 mobile">
            <button class="mx-auto my-0 py-0 skipword">Skip Word</button>

        </div>

        <!-- Bottom part for mobile -->
        <div class="row bottom flow mobile">
            <div class="col flow">
                
                <div class="form-group" >
                    
                    <div class="result_holder">
                       
                        
    
                        <div class="ResultText">
                            
                            
                            <span class="greyText">
                            </span>
                        
                        </div>
                        
                        
                        
                    </div>
                   
                    <!-- <div class="result_holder" style="background-color:#90dcd9">
                        <div id="mytranscript"></div>
                    </div> -->
                </div>
            </div>
        </div>

        <!-- Mic row for mobile -->
        <div class="row flow mobile">
            <div class="col-5 blow micdesc my-auto mx-auto">Press + Hold </div>
            <div class="col-2 blow d-flex justify-content-center px-0 mx-0">
                <div class="circle" >
                    <img class="mx-auto d-block mobilemic" height="50%"src="assets/tiny/mic.png" alt="">
                </div>
            </div>
            <div class="col-5 blow micdesc my-auto mx-auto"> and start reading the story</div>
        </div>
        
    </div>



    <!-- Nlp -->
    <!-- <script src="https://unpkg.com/compromise@11.14.3/builds/compromise.min.js"></script> -->

    <!-- Socket -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.js" integrity="sha512-vGcPDqyonHb0c11UofnOKdSAt5zYRpKI4ow+v6hat4i96b7nHSn8PQyk0sT5L9RECyksp+SztCPP6bqeeGaRKg==" crossorigin="anonymous"></script>

    <!-- Client -->
    <script src="assets/js/client2.js"></script>
    <!-- <script src="../public/js/client.js"></script> -->
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js" integrity="sha512-mhbv5DqBMgrWL+32MmsDOt/OAvqr/cHimk6B8y/bx/xS88MVkYGPiVv2ixKVrkywF2qHplNRUvFsAHUdxZ3Krg==" crossorigin="anonymous"></script>

<script>
    
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({
            html:true
        });
    })
    
</script>


<script src="assets/js/script.js"></script>
<script src="https://cdn.plyr.io/3.6.3/plyr.js"></script>
    <script>
        const player = new Plyr('#player',{
            controls:[ 'progress', 'current-time', 'mute', 'volume', 'captions'],
            speed: { selected: 1, options: [0.5, 0.75, 1, 1.25, 1.5, 1.75, 2] }
        });
    </script>

</html>