
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <meta name="description" content="French Pronunciation Hacker: Login and start improving your pronunciation" >


    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
    <link rel="manifest" href="assets/site.webmanifest" crossorigin="use-credentials">
    <link rel="mask-icon" href="assets/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">

    
   
    <style>
        *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-tap-highlight-color:transparent;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
}

.form{
  z-index: 1;
  font-family: "Poppins", sans-serif;
  position: absolute;
  width: 320px;
  text-align: left;
}

.form i{
  z-index: 1;
  color: #ccc;
  font-size: 65px;
  margin-bottom: 30px;
}

.form .signup-form{
  display: none;
}

.form .user-input{
  width: 320px;
  height: 55px;
  margin-bottom: 15px;
  outline: none;
  border: none;
  background: rgb(236 233 233);
  color: black;
  font-size: 18px;
  text-align: left;
  padding-left:15px;
  border-radius: 10px;
  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}



.form .options-01{
  margin-bottom: 50px;
}

.form .options-01 input{
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.form .options-01 .remember-me{
  color: #bbb;
  font-size: 14px;
  display: flex;
  align-items: center;
  float: left;
  cursor: pointer;
}

.form .options-01 a{
  color: #888;
  font-size: 14px;
  font-style: italic;
  float: right;
}

.form .btn{
  outline: none;
  border: none;
  width: 320px;
  height: 55px;
  background: #2b9299;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}
/* CHANGE BUTTON STYLE */
.form .btn{
    border-radius: 15px;
    background-color: #5bd6df;
    box-shadow: 0px 2px 0px 0px #17767d;
}
.form .btn:hover{
  background-color: #3fb7c0;
}
/* change input style */
.form .user-input {
    width: 100%;
    border-radius: 15px;
}



.form .options-02{
  color: #bbb;
  font-size: 14px;
  margin-top: 30px;
}

.form .options-02 a{
  color: #4285F4;
}

/* Responsive CSS */

@media screen and (max-width: 500px){
  .form{
    width: 95%;
  }

  .form .user-input{
    width: 100%
  }

  .form .btn{
    width: 100%;
  }
  input{
      text-align:left;
      text-align:center;
  }
  .x_button{
    padding: 70px 80px;
  }
 



}
    </style>
    <style>
        .desktoptitle{
        color: #156d74;
        padding-top:18px;
        position: absolute;
        top: 0;
        }
        .subtitle{
            position:absolute;
            top:0;
            padding-top:55px;
        }

        .options-01{
            display:none;
        }
        .createprofile{
            padding-top:20px;
            padding-bottom:20px;
            font-family: 'DM Serif Text', serif;
            text-align:center;
        }
        .x_button{
          position:absolute;
          top: 0;
          left: 0;
          padding: 29px 26px;
          
        }
        .x{
          cursor:pointer;
        }
        .register{
          background-color:#2b9299 !important;
          box-shadow: 0px 2px 0px 0px #0b4b50 !important;
          font-family: 'Raleway', sans-serif;
          
        }
        .login{
            font-family: 'Raleway', sans-serif;
        }
        .register:hover{
          background-color:#1a7279 !important;
        }


        /* pin code */
        #wrapper {
            font-family: Lato;
            font-size: 1.5rem;
            text-align: center;
            box-sizing: border-box;
            color: #333;
        }

        #wrapper #dialog {
            border: solid 1px #ccc;
            margin: 10px auto;
            padding: 20px 30px;
            display: inline-block;
            box-shadow: 0 0 4px #ccc;
            background-color: #FAF8F8;
            overflow: hidden;
            position: relative;
            max-width: 450px;
        }

        #wrapper #dialog h3 {
            margin: 0 0 10px;
            padding: 0;
            line-height: 1.25;
        }

        #wrapper #dialog span {
            font-size: 90%;
        }

        #wrapper #dialog #form {
            max-width: 240px;
            margin: 25px auto 0;
        }

        #wrapper #dialog #form input {
            margin: 0 5px;
            text-align: center;
            line-height: 80px;
            font-size: 50px;
            border: solid 1px #ccc;
            box-shadow: 0 0 5px #ccc inset;
            outline: none;
            width: 20%;
            transition: all 0.2s ease-in-out;
            border-radius: 3px;
        }

        #wrapper #dialog #form input:focus {
            border-color: #2b9299;
            box-shadow: 0 0 5px #2b9299 inset;
        }

        #wrapper #dialog #form input::selection {
            background: transparent;
        }

        #wrapper #dialog #form button {
            margin: 30px 0 50px;
            width: 100%;
            padding: 6px;
            background-color: #2b9299;
            border: none;
            border-radius:13px;
            text-transform: uppercase;
        }

        #wrapper #dialog button.close {
            border: solid 2px;
            border-radius: 30px;
            line-height: 19px;
            font-size: 120%;
            width: 22px;
            position: absolute;
            right: 5px;
            top: 5px;
        }

        .btn.focus, .btn:focus {
            outline: 0;
        }
        .verify{
            font-family: 'Raleway', sans-serif !important; 
            background-color: #2b9299 !important;
            box-shadow: 0px 2px 0px 0px #0b4b50 !important;
            font-family: 'Raleway', sans-serif;
        }

        #wrapper #dialog div {
            position: relative;
            z-index: 1;
        }

        #wrapper #dialog img {
            position: absolute;
            bottom: -70px;
            right: -63px;
        }
        #dialog{
            font-family: 'DM Serif Text', serif;
        }
        .check_junk{
            font-style:italic;
            font-size: 17px !important;
        }
        
    </style>
</head>
<body>

    <div class="modal fade" id="verifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
            
                
                <div id="wrapper">
                    <div id="dialog">
                        
                        <h4>Please enter the 4-digit verification code sent to your email</h4>
                        <span class="check_junk">Check your junk folder</span>
                        <div id="form">
                        <input id="pin1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                        <input id="pin2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" /><input id="pin3"type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" /><input id="pin4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                        <button class="btn btn-primary btn-embossed verify">Verify</button>
                        </div>
                    
                        
                    </div>
                    
                </div>
            </div>
           
        </div>
        </div>
    </div>

    <!-- <h1 class="desktoptitle desktop">French Pronunciation Hacker (BETA)</h1>
    <h3 class="subtitle"> User registration Coming Soon!</h3> -->
    <!--form area start-->
    <div class="x_button">
      <a href="./montecristo">
        <img class="x" src="/assets/x_button.png" height="30px" alt="">
      </a>
      
      
    </div>
    <div class="form">
        <!--signup form start-->
        <h2 class="createprofile">Créer un profil</h2>
        <form id="signup-form">
          <input id="name" class="user-input" autocomplete="off" type="text" name="" placeholder="Name" required>
          <input id="age" class="user-input" autocomplete="off" type="number" name="" placeholder="Age" required>
          <input id="email" class="user-input" autocomplete="off" type="email" name="" placeholder="Email" required>
          <input id="password" class="user-input" autocomplete="off" type="password" name="" placeholder="Mot de passe (password)" required>
          <input id="password2" class="user-input" autocomplete="off" type="password" name="" placeholder="Confirm password" required>

            
          <div class="options-01">
            <label class="remember-me"><input type="checkbox" name="">Remember me</label>
            <a href="#">Forgot your password?</a>
          </div>
          <input class="btn register" type="submit" name="" value="REGISTER">
          <div class="options-02 signin">
            <p>Already Registered? <a href="#">Sign In</a></p>
          </div>
        </form>
        <!--login form end-->

        <!--login form start-->
        <form id="login-form" class="signup-form">
          <!-- <input class="user-input" type="text" name="" placeholder="Username" required> -->
          <input id="login_email" class="user-input" type="email" name="" placeholder="Email Address" required>
          <input id="login_password" class="user-input" type="password" name="" placeholder="Password" required>
          <input class="btn login" type="submit" name="" value="LOGIN">
         
          <div class="options-02 createacc">
            <p> Not Registered? <a href="#">Create an Account</a></p>
          </div>
        </form>
        <!--signup form end-->
      </div>
      <!--form area end-->
  
      <script type="text/javascript">

			// ================== SIGNUP HANDLER ===========================
			const signupform = document.getElementById('signup-form');
			signupform.addEventListener('submit',registerUser);

			async function registerUser(event) {
                event.preventDefault();
                

				const name = document.getElementById('name').value;
				const email = document.getElementById('email').value;
				const password = document.getElementById('password').value;
                const password2 = document.getElementById('password2').value;

                // Store email in localStorage (used for verification)
                localStorage.setItem('email',email);

                var daily_objective;
                
                // Objective 
                if (!localStorage.getItem('daily_objective')){
                    daily_objective = 10;
                }
                else{
                    daily_objective = localStorage.getItem('daily_objective');
                }

				const result = await fetch('/api/register',{
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						name,
						password,
						email,
                        password2,
                        daily_objective
					})
				}).then((res) => res.json())

				if (result.status==='ok'){
					//everything went fine
                    console.log(result)
                    
                    // Toggle PIN VERIFICATION
                    $('#verifyModal').modal('toggle');
            
                    // LOGIN TOGGLE
                    // setTimeout(function(){
                    //     $('form').animate({
					// height: "toggle", opacity: "toggle"
					// }, "slow");
					// $('.createprofile').text('Se connecter');
                    //     }, 3100);


					// $('form').animate({
					// height: "toggle", opacity: "toggle"
					// }, "slow");
					// $('.createprofile').text('Se connecter');
				}
				else{
                    Swal.fire({
                        title: result.error,
                        text: 'Please try again',
                        icon: 'error',
                        timer:3000,
                        showConfirmButton: false
                    })
					// alert(result.error);
				}
			}


			// ================== LOG IN HANDLER ===========================
			const loginform = document.getElementById('login-form');

			loginform.addEventListener('submit',login); // handle the logging in 

			// get progress from mongo
			// loginform.addEventListener('submit',dostuff); 

			

			async function login(event) {
				event.preventDefault();

				const email = document.getElementById('login_email').value;
                const password = document.getElementById('login_password').value;
                
                // Store email in localStorage (used for verification)
                localStorage.setItem('email',email);

				const result = await fetch('/api/login',{
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						email,
						password
					})
				}).then((res) => res.json())

				if (result.status==='ok'){
					//everything went fine
					console.log("got the token: ", result.data)
					localStorage.setItem('token', result.data)
					const token = result.data

					// jan 26
					console.log("===================== FETCHING PROGRESS=====================");

                    // Get the user_data from the DB.
                        // Save words_complete, skipped_words in localStorage
                        // Save daily_objective in localStorage
					const result2 = await fetch('/api/get_userdata',{
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							token
						})
						}).then((res) => res.json())
						.then(function (data) {  
                            // console.log('Request success: ', data)
                            
							// console.log(data.user_row[0].skipped)

							// grab data and put in local storage here
							const skipped_words = JSON.stringify(data.user_row[0].skipped) //JSON stringify (make into array)
                            const words_completed = data.user_row[0].current_spot
                            const daily_objective = data.user_row[0].daily_objective

							localStorage.setItem('skipped_words',skipped_words)
                            localStorage.setItem('words_completed',words_completed)
                            localStorage.setItem('daily_objective',daily_objective)
							
						}) 
					// jan 26 end


					// username, location, .....
					// localStorage.setItem('username', result.user.username)
					// console.log(result.user.username)
					

					window.location.href = "./montecristo"
					// alert('Success')
				}
				else{
                    if (result.error=="Not Verified"){
                        // Toggle PIN VERIFICATION
                        $('#verifyModal').modal('toggle');
                    }
                    Swal.fire({
                        title: result.error,
                        text: '',
                        icon: 'error',
                        timer:300000,
                        showConfirmButton: false
                    })
					// alert(result.error);
				}
			}

			// ------------------------ SIGN IN / SIGN UP TOGGLE -------------------

            /* Toggle slide up and slide down effects*/
            $('.options-02 a').click(function(){
                $('form').animate({
                height: "toggle", opacity: "toggle"
                }, "slow");
                // $('.createprofile').text('se connecter')
            });

            /* Change form title */
            $('.createacc').click(function(){
                $('.createprofile').text('Créer un profil')
                
            })
            $('.signin').click(function(){
                $('.createprofile').text('Se connecter')
            })

            // If signup button is clicked toggle the signup animation in 0 seconds
            const signup = localStorage.getItem("signup");
            if (signup){
                if (signup=='false'){
                    // Toggle the switch between signup/signin
                    $('form').animate({
                    height: "toggle", opacity: "toggle"
					},0);
					$('.createprofile').text('Se connecter')
				}
				else{
					
					$('.createprofile').text('Créer un profil')
				}     
            } 

            $('.verify').on('click',function(){
                var pin1 = $('#pin1').val();
                var pin2 = $('#pin2').val();
                var pin3 = $('#pin3').val();
                var pin4 = $('#pin4').val();

                if (pin1!="" && pin2!="" && pin3!="" && pin4!=""){
                    
                    

                    const input_pin = String(pin1+pin2+pin3+pin4);
                    console.log(input_pin);
                    send_pin();

                    // make post request here
                    async function send_pin(){
                        var email = localStorage.getItem('email');

                        if (email!=null){
                            
                            const result = await fetch('/api/verify_acc',{
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    email,
                                    input_pin
                                })
                                }).then((res) => res.json())
                                

                                // If pin correct
                                if (result.status==='ok'){
                                    // close modal
                                    $('#verifyModal').modal('toggle');

                                    // success message 
                                    Swal.fire({
                                        title: 'Account Created!',
                                        text: 'Login Now',
                                        icon: 'success',
                                        timer:3000,
                                        showConfirmButton: false
                                    })

                                    // LOGIN TOGGLE
                                    setTimeout(function(){
                                        $('form').animate({
                                    height: "toggle", opacity: "toggle"
                                    }, "slow");
                                    $('.createprofile').text('Se connecter');
                                        }, 3100);

                                    // send welcome email
                                    const result2 = await fetch('/api/welcome_email',{
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify({
                                            email
                                            
                                        })
                                        }).then((res) => res.json())


                                }
                                else{
                                    Swal.fire({
                                        title: 'Incorrect CODE',
                                        text: 'Please re-enter',
                                        icon: 'error',
                                        timer:3000,
                                        showConfirmButton: false
                                    })
                                }
                        }
                    }
                }
                else{
                    
                }
                    
            })
            
            $(function() {
                

                var body = $('body');

                function goToNextInput(e) {
                    var key = e.which,
                    t = $(e.target),
                    sib = t.next('input');

                    if (key != 9 && (key < 48 || key > 57)) {
                    e.preventDefault();
                    return false;
                    }

                    if (key === 9) {
                    return true;
                    }

                    if (!sib || !sib.length) {
                    sib = body.find('input').eq(0);
                    }
                    sib.select().focus();
                }

                function onKeyDown(e) {
                    var key = e.which;

                    if (key === 9 || (key >= 48 && key <= 57)) {
                    return true;
                    }

                    e.preventDefault();
                    return false;
                }
                
                function onFocus(e) {
                    $(e.target).select();
                }

                // If the modal is open
                $('#verifyModal').on('shown.bs.modal', function (e) {
                    
                    body.on('keyup', 'input', goToNextInput);
                    body.on('keydown', 'input', onKeyDown);
                    body.on('click', 'input', onFocus);
                // do something...
                })
                $('#verifyModal').on('hidden.bs.modal', function (e) {
                    body.unbind("click");
                    body.unbind("keyup");
                    body.unbind("keydown");
                    
                // do something...
                })
                
                

                })

                
			

      </script>
</body>
</html>