<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    
</head>
<body>
    <h1>Login</h1>
    <form id="login">
        <input type="text" autocomplete="off" id="username" placeholder="Username">
        <input type="password" autocomplete="off" id="password" placeholder="Password">
        <input type="submit" value="Submit Form">
    </form>
    <script>
        const form=document.getElementById('login');
        form.addEventListener('submit',login);

        async function login(event) {
            event.preventDefault();

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            const result = await fetch('/api/login',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username,
                    password
                })
            }).then((res) => res.json())

            if (result.status==='ok'){
                //everything went fine
                console.log("got the token: ", result.data)
                localStorage.setItem('token', result.data)

                // username, location, .....
            localStorage.setItem('username', result.user.username)
            console.log(result.user.username)

                window.location.href = "./"
                // alert('Success')
            }
            else{
                alert(result.error);
            }
        }
    </script>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>French Pronunciation Hacker</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
    <link rel="manifest" href="assets/site.webmanifest" crossorigin="use-credentials">
    <link rel="mask-icon" href="assets/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <script>
        
    </script>
    <style>
        *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
}

.form{
  z-index: 1;
  font-family: "Poppins", sans-serif;
  position: absolute;
  width: 320px;
  text-align: left;
}

.form i{
  z-index: 1;
  color: #ccc;
  font-size: 65px;
  margin-bottom: 30px;
}

.form .signup-form{
  display: none;
}

.form .user-input{
  width: 320px;
  height: 55px;
  margin-bottom: 15px;
  outline: none;
  border: none;
  background: rgb(236 233 233);
  color: black;
  font-size: 18px;
  text-align: left;
  padding-left:15px;
  border-radius: 10px;
  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}



.form .options-01{
  margin-bottom: 50px;
}

.form .options-01 input{
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.form .options-01 .remember-me{
  color: #bbb;
  font-size: 14px;
  display: flex;
  align-items: center;
  float: left;
  cursor: pointer;
}

.form .options-01 a{
  color: #888;
  font-size: 14px;
  font-style: italic;
  float: right;
}

.form .btn{
  outline: none;
  border: none;
  width: 320px;
  height: 55px;
  background: #2b9299;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}
/* CHANGE BUTTON STYLE */
.form .btn{
    border-radius: 15px;
    background-color: #5bd6df;
    box-shadow: 0px 2px 0px 0px #17767d;
}
/* change input style */
.form .user-input {
    width: 100%;
    border-radius: 15px;
}



.form .options-02{
  color: #bbb;
  font-size: 14px;
  margin-top: 30px;
}

.form .options-02 a{
  color: #4285F4;
}

/* Responsive CSS */

@media screen and (max-width: 500px){
  .form{
    width: 95%;
  }

  .form .user-input{
    width: 100%
  }

  .form .btn{
    width: 100%;
  }
  input{
      text-align:left;
      text-align:center;
  }
  .x_button{
    padding: 70px 80px;
  }
 



}
    </style>
    <style>
        .desktoptitle{
        color: #156d74;
        padding-top:18px;
        position: absolute;
        top: 0;
        }
        .subtitle{
            position:absolute;
            top:0;
            padding-top:55px;
        }

        .options-01{
            display:none;
        }
        .createprofile{
            padding-top:20px;
            padding-bottom:20px;
            text-align:center;
        }
        .x_button{
          position:absolute;
          top: 0;
          left: 0;
          padding: 29px 26px;
          
        }
        .x{
          cursor:pointer;
        }
        
    </style>
</head>
<body>
    <!-- <h1 class="desktoptitle desktop">French Pronunciation Hacker (BETA)</h1>
    <h3 class="subtitle"> User registration Coming Soon!</h3> -->
    <!--form area start-->
    <div class="x_button">
      <a href="./">
        <img class="x" src="/assets/x_button.png" height="30px" alt="">
      </a>
      
      
    </div>
    <div class="form">
        <!--signup form start-->
        <h2 class="createprofile">Créer un profil</h2>
        <form id="signup-form">
          <input id="name" class="user-input" autocomplete="off" type="text" name="" placeholder="Name" required>
          <input id="age" class="user-input" autocomplete="off" type="number" name="" placeholder="Age" required>
          <input id="email" class="user-input" autocomplete="off" type="email" name="" placeholder="Email" required>
          <input id="password" class="user-input" autocomplete="off" type="password" name="" placeholder="Mot de passe (password)" required>
          <input id="password2" class="user-input" autocomplete="off" type="password" name="" placeholder="Confirm password" required>


          <div class="options-01">
            <label class="remember-me"><input type="checkbox" name="">Remember me</label>
            <a href="#">Forgot your password?</a>
          </div>
          <input class="btn" type="submit" name="" value="REGISTER">
          <div class="options-02 signin">
            <p>Already Registered? <a href="#">Sign In</a></p>
          </div>
        </form>
        <!--login form end-->

        <!--login form start-->
        <form id="login-form" class="signup-form">
          <!-- <input class="user-input" type="text" name="" placeholder="Username" required> -->
          <input id="login_email" class="user-input" type="email" name="" placeholder="Email Address" required>
          <input id="login_password" class="user-input" type="password" name="" placeholder="Password" required>
          <input class="btn" type="submit" name="" value="LOGIN">
         
          <div class="options-02 createacc">
            <p> Not Registered? <a href="#">Create an Account</a></p>
          </div>
        </form>
        <!--signup form end-->
      </div>
      <!--form area end-->
  
      <script type="text/javascript">

			// ================== SIGNUP HANDLER ===========================
			const signupform = document.getElementById('signup-form');
			signupform.addEventListener('submit',registerUser);

			async function registerUser(event) {
				event.preventDefault();

				const name = document.getElementById('name').value;
				const email = document.getElementById('email').value;
				const password = document.getElementById('password').value;
				const password2 = document.getElementById('password2').value;

				const result = await fetch('/api/register',{
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						name,
						password,
						email,
						password2
					})
				}).then((res) => res.json())

				if (result.status==='ok'){
					//everything went fine
					console.log(result)
				
					alert('Success')
					$('form').animate({
					height: "toggle", opacity: "toggle"
					}, "slow");
					$('.createprofile').text('Se connecter');
				}
				else{
					alert(result.error);
				}
			}


			// ================== LOG IN HANDLER ===========================
			const loginform = document.getElementById('login-form');

			loginform.addEventListener('submit',login); // handle the logging in 

			// get progress from mongo
			// loginform.addEventListener('submit',dostuff); 

			function dostuff(){
				
				alert('grab data from mongo');
			}

			async function login(event) {
				event.preventDefault();

				const email = document.getElementById('login_email').value;
				const password = document.getElementById('login_password').value;

				const result = await fetch('/api/login',{
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						email,
						password
					})
				}).then((res) => res.json())

				if (result.status==='ok'){
					//everything went fine
					console.log("got the token: ", result.data)
					localStorage.setItem('token', result.data)
					const token = result.data

					// jan 26
					console.log("===================== FETCHING PROGRESS=====================");

					const result2 = await fetch('/api/get_progress',{
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							token
						})
						}).then((res) => res.json())
						.then(function (data) {  
							console.log('Request success: ', data)
							// console.log(data.user_row[0].skipped)

							// grab data and put in local storage here
							const skipped_words = JSON.stringify(data.user_row[0].skipped) //JSON stringify (make into array)
							const words_completed = data.user_row[0].current_spot

							localStorage.setItem('skipped_words',skipped_words)
							localStorage.setItem('words_completed',words_completed)
							
						}) 
					// jan 26 end


					// username, location, .....
					// localStorage.setItem('username', result.user.username)
					// console.log(result.user.username)
					

					window.location.href = "./"
					// alert('Success')
				}
				else{
					alert(result.error);
				}
			}

			// ------------------------ SIGN IN / SIGN UP TOGGLE -------------------

            /* Toggle slide up and slide down effects*/
            $('.options-02 a').click(function(){
                $('form').animate({
                height: "toggle", opacity: "toggle"
                }, "slow");
                // $('.createprofile').text('se connecter')
            });

            /* Change form title */
            $('.createacc').click(function(){
                $('.createprofile').text('Créer un profil')
                
            })
            $('.signin').click(function(){
                $('.createprofile').text('Se connecter')
            })

            // If signup button is clicked toggle the signup animation in 0 seconds
            const signup = localStorage.getItem("signup");
            if (signup){
                if (signup=='false'){
                    // Toggle the switch between signup/signin
                    $('form').animate({
                    height: "toggle", opacity: "toggle"
					},0);
					$('.createprofile').text('Se connecter')
				}
				else{
					
					$('.createprofile').text('Créer un profil')
				}     
			} 
			

      </script>
</body>
</html>