<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Version Unavailable</title>
    <script>
        if (window.innerWidth>=1025){
                window.location = "./montecristo";
        }
        window.addEventListener('resize', function(event){
            if (window.innerWidth>=1025){
                window.location = "./montecristo";
            }
        });
    </script>
</head>
<body>
    <h1>Please use desktop version</h1>
</body>
</html>