/* .show{
    border:1px solid red;
}
.blow{
    border:1px solid blue;
}
.flow{
    border:1px solid green;

}
.slow{
    border: 1px solid blue !important;
} */



body{
    background-color:rgba(255,255,255);
    /* overflow-y:hidden; */
    --plyr-color-main:#156d74;
}

/* Duo buttons */ 

.signin_container{
    position:absolute;
    right:20px;
    top:20px;
    display:flex;
    /* justify-content:center;
    align-items:center;
    width:100%;
    height:150px; */
    display:none;
}
.register_container{
    position:absolute;
    right:160px;
    top:20px;
    display:flex;
    /* justify-content:center;
    align-items:center;
    width:100%;
    height:150px; */
    display:none;
}
#username{
    margin:20px;
    position:absolute;
}
#signout_button{
    display:none;
    width: 100px;
    height: 30px;
    position: absolute;
    margin: 30px;
    margin-top: 50px;
}
.register, .signin, .signout_mobile{
    cursor:pointer;
}
.duo_button{
    width: 130px;
    
    background-color: #8cdce2;
    text-align: center;
    padding: 4px;
    border-radius: 9px;
    font-family: 'Raleway', sans-serif;
    color: white;
    /* font-weight: 800; */
    position: relative;
    height: 30px;
}
.duo_button.register{
    background-color:#2b9299;
}
.duo_button:hover{
    cursor:pointer;
    color:white;
    background-color:#5bd6df;
}
.duo_button.register:hover{
    background-color:#1e777e;
}
.duo_button::after{
    content: "";
    width: 130px;
    border-radius: 10.5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #156d74;

    padding: 1px;
    z-index: -1;
    height: 32px;
}

.duo_button.register::after{
    background-color: #0b4b50;
}
.duo_button:active{
    bottom:-4px;
}
.duo_button:active::after{
    height:30px;
}


.mic{
    margin-top:25%;
}
.play_arrow{
    margin-top: 30%;
    height: 24px;

    height: 20px;
    margin-left: 12px;
}
.pause{
    margin-left: 12px;
    margin-top: 16px;
    height: 26px;
    display:none !important;

    margin-left: 9px;
    margin-top: 13px;
    height: 23px;
}
mark{
    background-color: #72c157;
    border-radius: 8px;
        
}
.highlight{
    background-color: #8cdce2;
    border-radius: 8px;
}
#story{
    line-height:1.5em;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'DM Serif Text', serif; */
    /* font-weight:200; */
    font-size:20px;
    
}
.book-title-small{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    right: 0;
    opacity:0;
    /* display: none; */
    transform: translateY(-26px);
    font-weight: 700;
    text-decoration: underline;
}
.book-title{
    font-size:50px;
}
.annotate{
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    /* text-decoration:underline; */
    /* font-style: italic; */
    color:rgb(56, 54, 54);
    /* text-decoration-line: underline; */
    font-weight:700;
    cursor:pointer;
}

p {
    margin-bottom:1.5em
}
#chapter_title{
    text-align: center;
    font-size:30px;
    font-family: 'Roboto', sans-serif;
}
.story_holder{

    /* height:300px; */

    height:100%;
    /* overflow-x:hidden; */
    /* overflow-y:scroll; */
    transition:all 1s ease;
}
.audio{
    font-weight:800;
    color: rgb(85, 151, 182);
}
.audio:hover{
    cursor:pointer;

}
.tooltip-inner.big{
    background-color: rgb(220,64,53) !important;
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    font-size:18px;
    background-color: rgb(85, 151, 182);
    background-color:#156d74;
    border-radius: .25rem;
    opacity:1;
}
.tooltip.bs-tooltip-top .arrow:before {
    display:none;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    color:rgb(85, 151, 182) !important;
}
.tooltip{opacity:1!important;}
.buy{
    cursor:pointer;
}
.plyr{
    display:none !important;
    width:100% !important;
    /* max-width:100% !important; */
}
.result_holder {
    background-color: #f2f1eb;
    border-radius: 15px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100px;
    overflow-y: scroll;
    /* overflow-y:hidden; */
    /* overflow: hidden; */
    position:relative;
}
.outer{
    overflow-y:hidden;
}
.scroll_div{
    width:100%;
}
#move{
    transition: all ease 0.5s;
    overflow-y:scroll;
    height: 222px;

    height: 252px;
}
.logo{
    height:90px;
    max-width:100%;
    object-fit:scale-down;
    right:0;
}
.cart{
    transition: all ease 0.5s;
    transform:translateY(0px);
}
.cart:hover{
    transform:translateY(-10px);
    transition: all ease 0.5s;
    cursor:pointer;
}
.buytooltip:hover{
    cursor:pointer;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.playbutton{
    background: #156d74;
    border-radius: 50%;
    cursor:pointer;

    width: 60px;
    height: 60px;
    

    width:50px;
    height:50px;
}
.microw{
    padding-top:35px;
}


.mytooltip{
    transform:translateY(15px);
    object-fit:scale-down;
}

.skippedwordsholder{
    height: 158px;
    /* width:100px; */
    /* position:relative; */
}
.skippedwords{
    /* border: 1px solid green; */
    width: 70%;
    height: 158px;
    background-color:lightblue;
    border-radius:10px;
    display:none;
}

ul {
    list-style-type: none;
  }

.leftrewind{
    margin-right: 10px;
    margin-top: 20px;
    cursor: pointer;
    height: 18px;

    height:14px;
}

.rightrewind{
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
    height: 18px;

    height:14px;
}





.desktop{
    display:none !important;
}
.desktoptitle{
    color: #156d74;
    padding-top:18px;
    font-family: cooper-black-std, serif !important;
    font-weight: 800;
    font-size: 29px;

    font-size: 33px;
    color: #8cdce2;
    cursor:pointer;
}


.mobiletitle{
    color: #156d74;
    padding-top:5px;
    padding-bottom: 28px;

    
}
.navbar_title{
    color: #156d74;
    font-size: 16px;
    font-family: cooper-black-std, serif !important;
    font-weight: 800;
    color: #8cdce2;
    cursor: pointer;
}
.movemobile{
    padding-top:0px !important;
    padding-left:10px !important;
    padding-right:10px !important;
}

.booktitle{
    font-size:27px;


    /* text-decoration: underline;
    font-family: 'Quicksand', sans-serif;

    font-weight:800;
    font-size:20px; */

    font-family: 'DM Serif Text', serif;
    text-decoration:underline;
    font-weight:400;
    padding-bottom: 10px;
    margin:0 auto;
    
}
.bienvenue{
    font-family: 'DM Serif Text', serif;
}
.buybutton {
    width: 288px;
    height: 27px;
    background-color: #8cdce2;
    border-radius: 5px;
}
.buytext{
    font-size: 16px;
    margin-left: 10px;
    margin-top: 3px !important;
}
.buytext-mobile{
    font-size: 10px;
    text-align: center;
}
.mobilemic{
    /* transform: translateY(14px); */
    transform: translateY(16px);
    height: 27px;

    transform: translateY(14px);
    height: 22px;
}
.circle{
    background: lightblue;
    background: rgb(220,64,53);
    background: #156d74;
    border-radius: 50%;
    cursor:pointer;
    width:60px;
    height:60px;

    width:50px;
    height:50px;
}
.skipword{
    transform: translateY(0px);
    font-size:14px;
    background-color: #8cdce2;
    border: 0px;
    border-radius: 5px;
    outline: none !important;
}
.reset{
    transform: translateY(0px);
    font-size:14px;
    background-color: #65e08e;
    border: 0px;
    border-radius: 5px;
    outline: none !important;
}

.buttontexts{
    font-size:16px;
}

.ecoute{
    transform: translateX(23px);
}
.timer_holder{
    margin:0 auto;
    padding-left: 9px;
}

.timer {
    display: inline;
    padding: 5px;
    color: #212529;
    font-family: Verdana, sans-serif, Arial;
    font-size: 32px;
    font-family: 'Quicksand', sans-serif;
    /* font-weight: bold; */
    text-decoration: none;
    /* font-family: 'DM Serif Text', serif; */
}
.timer_clock{
    transform: translateY(-8px);
    
}
.guy_and_timer{
    flex-direction:column;
}



/* ------overwrite bootstrap things----------------- */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.user_button{
    position:absolute !important;
    top:15px !important;
    right:15px !important;
    display:none;
}
.user_toggle{
    background-color: transparent !important;
    color: black !important;
    border-color:transparent !important;
}
.btn:focus{
    outline: none !important;
  box-shadow: none !important;
}
.dropdown-item:hover{
    cursor:pointer !important;
}
.dropdown-item.active, .dropdown-item:active {
    color: unset;
    text-decoration: unset;
    background-color: unset;
}
/* ------overwrite bootstrap things (END)---------------- */

@media only screen and (min-width:370px){
    .navbar_title{
        font-size: 1.25rem;
    }
}
@media only screen and (min-width: 420px) {
    #move{
        overflow-y:hidden;
    }
}
@media only screen and (min-width: 518px) {
    
    .playrow{
        padding-right: 25% !important;
    }
}
@media only screen and (min-width: 659px) {
    
    .playrow{
        padding-right: 50% !important;
    }
}

/* ipad mini portrait */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  
    body{
        /* background-color:rgba(108, 177, 108, 0.493); */
    }
    .playbutton {
        
        width: 60px;
        height: 60px;
      
    }
    .play_arrow {
        margin-top: 30%;
        height: 24px;
        margin-left: 16px;
    }
    .playrow {
        padding-right: 100px !important;
    }
    .leftrewind {
   
        height: 19px;
    }
    .rightrewind{
        height: 19px;
    }
    .ecoute {
        transform: translateX(28px);
        font-size: 20px;
    }
    .pause{
        margin-left: 12px;
        margin-top: 16px;
        height: 27px;
    }
    .circle{
        width: 60px;
        height: 60px
    }
    .mobilemic{
        transform: translateY(16px);
        height: 26px;
    }
    .buttontexts {
        font-size: 20px;
    }
    
  }
  

/* if window GREATER than 600px (RECENTLY CHANGED) */
@media only screen and (min-width: 600px) {
    /* body {
      background-color: lightblue;
    }

    .pause{
        margin-left: 14px !important;
        margin-top: 16px !important;
        height:50% !important;
    }
    
    
    .mobile{
        display:none !important;
    }
    .desktop{
        display:flex !important;
    }
    .circle {
    
        width: 70px;
        height: 70px;
        
    }
    .play_arrow{
        margin-top: 27% !important;
        height: 45% !important;
    }
    .playbutton{
        width: 70px;
        height: 70px;
    }
    .skipword{
        transform:translateY(-130px);
        
    }
    .booktitle {
        margin-left: 96px;
        font-size:43px;
    }

    .rightrewind{
        margin-left: 20px;
        margin-top: 20px;
        height:25px !important;
    }
    .leftrewind{
        margin-right: 20px;
        margin-top: 20px;
        height:25px !important;

    } */

  } 

  @media only screen and (min-height: 568px) {
    #move{
        height: 268px;
    }
  }
  @media only screen and (min-height: 616px) {
    #move{
        height: 316px;

        /* changed feb 9 */
        /* height:306px; */
    }
  }
  @media only screen and (min-height: 667px) {
    #move{
        height:366px;
    }
  }
  @media only screen and (min-height: 731px) {
    #move{
        height: 428px;
    }
  }
  @media only screen and (min-height: 805px) {
    #move{
        height: 504px;
    }
  }
  @media only screen and (min-height: 812px) {
    #move{
        height: 509px;
    }
  }

  @media only screen and (min-width: 1024px) {
      /* body {
      background-color: rgb(231, 183, 79);
    } */
    .booktitle{
        font-size:27px;
    }
    .rowplay{
        transform: translateX(-16px);
    }
    .rowmic{
        transform: translateX(17px);
    }
    
    /* duo buttons */
    .signin_container{
        right:20px;
        top:20px;
        display:flex;
        display:none;
    }
    .register_container{
        right:160px;
        top:20px;
        display:flex;
        display:none;
    }
    
    .mobile{
        display:none !important;
    }
    .desktop{
        display:flex !important;
    }
    .circle {
        width: 60px;
        height: 60px;
    }
    .mic {
        margin-top: 28%;
        height:27px;
    }
    .play_arrow {
        margin-top: 30% !important;
        height: 39% !important;
    }
    .playbutton {
        width: 60px;
        height: 60px;
    }
    .skipword, .reset{
        transform:translateY(-130px);
        
    }
    .booktitle {
        /* margin-left: 96px;
        font-size:43px; */
        /* font-size: 61px; */
    }

    .rightrewind{
        margin-left: 20px;
        margin-top: 20px;
        height:21px !important;
    }
    .leftrewind{
        margin-right: 20px;
        margin-top: 20px;
        height:21px !important;

    }
    .pause {
        margin-left: 13px !important;
        margin-top: 16px !important;
        height: 43% !important;
    }
    .result_holder{
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
    .tooltip-right{
        transform: translateX(-17px) translateY(15px) !important;
    }
    .tooltip-left{
        transform: translateX(16px) translateY(15px) !important;
    }
  }

  /* DESKTOP MODE */
@media only screen and (min-width: 1200px) {
    /* body {
      background-color: rgb(105, 240, 172);
    } */

    .booktitle{
        font-size:27px;
    }
    .pause{
        margin-left: 14px !important;
        margin-top: 16px !important;
        height:50% !important;
    }
    .mic {
        height:50%;
        margin-top:25%;
    }
    
    
    .mobile{
        display:none !important;
    }
    .desktop{
        display:flex !important;
    }
    .circle {
    
        width: 70px;
        height: 70px;
        
    }
    .play_arrow{
        margin-top: 27% !important;
        height: 45% !important;
    }
    .playbutton{
        width: 70px;
        height: 70px;
    }
    .skipword, .reset{
        transform:translateY(-130px);
        
    }
    .booktitle {
        /* margin-left: 96px;
        font-size:43px; */
        /* font-size: 61px; */
    }

    .rightrewind{
        margin-left: 20px;
        margin-top: 20px;
        height:25px !important;
    }
    .leftrewind{
        margin-right: 20px;
        margin-top: 20px;
        height:25px !important;

    }

    /* height media queries within desktop mode */
    @media only screen and (min-height: 900px) {
        #move{
            height:564px;
        }
    }
    @media only screen and (min-height: 1080px) {
        #move{
            height:734px;
        }
    }
    @media only screen and (min-height: 1440px) {
        #move{
            height:1084px;
        }
    }
    
    

  }

  html {
    visibility: visible;
    opacity: 1;
}

/* */
/*
 * Force Bootstrap v4 transitions
 * (ignores prefers-reduced-motion media feature)
 * https://gist.github.com/robssanches/33c6c1bf4dd5cf3c259009775883d1c0
 */

 .fade {
	transition:opacity 0.15s linear !important;
}

.badge {
	transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}
.progress-bar {
	transition:width 0.6s ease !important;
}
.progress-bar-animated {
	-webkit-animation:progress-bar-stripes 1s linear infinite !important;
	animation:progress-bar-stripes 1s linear infinite !important;
}
.modal.fade .modal-dialog {
	transition:-webkit-transform 0.3s ease-out !important;
	transition:transform 0.3s ease-out !important;
	transition:transform 0.3s ease-out,-webkit-transform 0.3s ease-out !important;
}
/* i added this */
.objective_buttons{
    width:100%;
}

.createacc_button, .not_now{
    width:40%;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}
.not_now{
    background-color:#f2f1eb;
    color:black;
}
.not_now:hover{
    background-color: #c7c6bc;
    color:black;
}


.objectives_holder{
    width:75%;
    height:250px;
}
/* General objective button layout*/
.objective_button, .objective_button:hover, .objective_button:active, .objective_button:focus{
    box-shadow:unset !important;
    border: 5px solid #8cdce2;
    border-color:#8cdce2 !important;
    
    background-color:white;
    width:100%;
    height:48px;
    cursor:pointer;
    color:black !important;
    /* font-family:  */
    font-family: 'Raleway', sans-serif;
}

/* Objective button CLICKED color */
.objective_button:active, .objective_button:focus{
    background-color: #cff2f5 !important;
    
}
/* Objective button 1 */
.objective_button1, .objective_button1:hover, .objective_button1:active, .objective_button1:focus{
    border-bottom:2.5px solid #8cdce2;
    border-radius:10px 10px 0px 0px;
    
}
/* Objective button 2,3 */
.objective_button2, .objective_button2:hover,.objective_button2:active, .objective_button2:focus,  .objective_button3, .objective_button3:hover, .objective_button3:active, .objective_button3:hover, .objective_button3:focus{
    border-radius:0px;
    border-top:0px;
    border-bottom:2.5px solid #8cdce2;
}
/* Objective button 4 */
.objective_button4, .objective_button4:hover, .objective_button4:active, .objective_button4:focus{
    border-radius:0px 0px 10px 10px;
    border-top:0px;
}

.objective_button:focus{
    background-color:#8cdce2;
}
.objective_button:active{
    background-color:#8cdce2;
}
.no_objective_selected{
    color:rgb(238, 42, 42);
    transition:1s ease;
    display:none;
}


@media (min-width: 768px) {
    .modal-xl {
      width: 60%;
     max-width:1000px;
    }
  }




