.show{
    border:1px solid red;
}
.blow{
    border:1px solid blue;
}
.flow{
    border:1px solid green;

}
.slow{
    border: 1px solid blue !important;
}



body{
    background-color:rgba(255,255,255);
    /* overflow-y:hidden; */
    --plyr-color-main:#156d74;
}


.mic{
    margin-top:25%;
}
.play_arrow{
    margin-top:27%;
}
.pause{
    margin-left: 14px !important;
    margin-top: 16px !important;
}
mark{
    background-color: #72c157;
    border-radius: 8px;
        
}
.highlight{
    background-color: #e6871b;
    border-radius: 8px;
}
#story{
    line-height:1.5em;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    font-size:20px;
    
}
.book-title-small{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    right: 0;
    opacity:0;
    /* display: none; */
    transform: translateY(-26px);
    font-weight: 700;
    text-decoration: underline;
}
.book-title{
    font-size:50px;
}
.annotate{
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    /* text-decoration:underline; */
    /* font-style: italic; */
    color:rgb(56, 54, 54);
    /* text-decoration-line: underline; */
    font-weight:700;
    cursor:pointer;
}

p {
    margin-bottom:1.5em
}
#chapter_title{
    text-align: center;
    font-size:30px;
    font-family: 'Roboto', sans-serif;
}
.story_holder{
    height:300px;
    /* overflow-x:hidden; */
    /* overflow-y:scroll; */
    transition:all 1s ease;
}
.audio{
    font-weight:800;
    color: rgb(85, 151, 182);
}
.audio:hover{
    cursor:pointer;

}
.tooltip-inner.big{
    background-color: rgb(220,64,53) !important;
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    font-size:18px;
    background-color: rgb(85, 151, 182);
    background-color:#156d74;
    border-radius: .25rem;
    opacity:1;
}
.tooltip.bs-tooltip-top .arrow:before {
    display:none;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    color:rgb(85, 151, 182) !important;
}
.tooltip{opacity:1!important;}
.buy{
    cursor:pointer;
}
.plyr{
    display:none;
    width:100% !important;
    /* max-width:100% !important; */
}
.result_holder {
    background-color: #f2f1eb;
    border-radius: 15px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100px;
    overflow-y: scroll;
    position:relative;
}
.scroll_div{
    width:100%;
}
#move{
    transition: all ease 0.5s;
}
.logo{
    height:90px;
    max-width:100%;
    object-fit:scale-down;
    right:0;
}


#playbutton{
    background: #156d74;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    cursor:pointer;
}
.microw{
    padding-top:35px;
}


.mytooltip{
    transform:translateY(15px);
}

.skippedwordsholder{
    height: 158px;
    /* width:100px; */
    /* position:relative; */
}
.skippedwords{
    /* border: 1px solid green; */
    width: 70%;
    height: 158px;
    background-color:lightblue;
    border-radius:10px;
    display:none;
}

ul {
    list-style-type: none;
  }

#leftrewind{
    margin-right: 20px;
    margin-top: 20px;
    cursor:pointer;
}

#rightrewind{
    margin-left: 20px;
    margin-top: 20px;
    cursor:pointer;
}





.desktop{
    display:none !important;
}

.mobiletitle{
    color: #156d74;
    padding-top:5px;
    padding-bottom: 28px;
}
.movemobile{
    padding-top:0px !important;
    padding-left:10px !important;
    padding-right:10px !important;
}

.booktitle{
    font-size:20px;
    margin-left: 1rem;
}
.mobilemic{
    transform: translateY(14px);
}
.circle{
    background: lightblue;
    background: rgb(220,64,53);
    background: #156d74;
    border-radius: 50%;
    cursor:pointer;
    width:60px;
    height:60px;
}
.skipword{
    transform: translateY(0px);
    font-size:14px;
    background-color: #8cdce2;
    border: 0px;
    border-radius: 5px;
    outline: none !important;
}

.mobile .micdesc{
    font-family: 'Quicksand', sans-serif;
    font-weight:700;
    color: #156d74
}

@media only screen and (min-width: 600px) {
    /* body {
      background-color: lightblue;
    } */
    .mobile{
        display:none !important;
    }
    .desktop{
        display:flex !important;
    }
    .circle {
    
        width: 70px;
        height: 70px;
        
    }
    .skipword{
        transform:translateY(-130px);
        
    }
    .booktitle {
        margin-left: 96px;
        font-size:43px;
        /* font-size: 61px; */
    }
  }